.empty__img{
    width: 50rem;
}

.empty__video-container{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page__text{
    text-align: center;
}