.modal__container{
    position: fixed;
    z-index: 111;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.14);
    display: grid;
    place-items: center;
}

.modal{
    padding: 1rem 2rem;
    background-color: var(--white-color);
    width: 25rem;
    border-radius: 3px;
    animation: modal .3s linear .1s 1 normal backwards;
}

@keyframes modal {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 3;
    }
    50%{
        opacity: 6;
    }
    100%{
        opacity: 9;
    }
}

.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}

.modal__header > i {
    color: var(--secondry-color);
    cursor: pointer;
}

.playlist__container {
    padding: 1rem 0rem;
}

.playlist__name {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: .6rem 0rem;
}

.playlist__name > input {
    margin-right: 1rem;
    cursor: pointer;
}

.create__playlist {
    font-size: 1.5rem;
}

.create__playlist > input {
    width: 100%;
    padding: .5rem 1rem;
    margin: .3rem 0rem 1rem 0rem;
    outline: none;
    border: 1px solid var(--slider-bg-color);
    border-radius: 3px;
}

.create__playlist-btn {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: .5rem 1rem;
    border-radius: 3px;
    border: none;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
    outline: none;
}

.create__playlist-btn > i {
    margin-right: .5rem;
}

.new__playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new__playlist > i{
    cursor: pointer;
    font-size: 1.8rem;
}