.sidebar__menus{
    width: 8.5rem;
    padding: 2rem 0rem;
    /* height: calc(100vh - 7rem); */
    overflow: hidden;
    color: var(--primary-color);
    background-color: var(--white-color);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    position: fixed;
    z-index: 2;
}

.sidebar__menus.dark{
    background-color: var(--dark-theme);
}

.sidebar__menus.appear{
    width: 30rem;
    transition: .1s ease-in-out;
}

.sidebar__menu{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar__menu:hover{
    background-color: var(--secondry-light-color);
    color: var(--white-color);
}

.sidebar__menu:hover > i{
    transition: .1s ease-in-out;
    color: var(--secondry-color);
}

.sidebar__menu > i{
    font-size: 4.5rem;
    padding: 1.5rem;
}

.icon__name{
    font-size: 2rem;
    margin-left: 1rem;
}

.sidebar__menu.bottom__menu{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.link__style{
    color: var(--primary-color);
}